<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Write 10x faster with AI-generated autocomplete text suggestions">
    <meta name="keywords" content="AI, OpenAI, GPT, Cowriter, Copywriter, Copywriting, Blog, LinkedIn, Twitter, Email">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <meta name="debug" content="{{ config['DEBUG'] }}" />
    <meta name="suggest_endpoint" content="{{ url_for('suggest') }}" />
    <title>AI Cowriter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container mt-4 mt-md-5" id="main">
      <div class="row mb-3">
        <div class="col-8">
          <h1 class="fw-bold">Write 10x faster<br/>with your AI Cowriter</h1>
        </div>
        <div class="col-4 text-end">
          <img src="{{ url_for('static', filename='logo-nobg-trim.png') }}" class="img-fluid"  style="max-height: 100px;" alt="Cowriter Logo">
        </div>
      </div>
      <div class="row mb-3">
        <p class="text-muted">
          This mini-app acts as your cowriter for any kind of text. Just start to type and your AI companion will suggest words and phrases to complete your text. Suggestions will show up in "grey" shortly after you type something. You can accept them by hitting "tab" or "enter"/"return". If you press any other key the suggestion will disappear.
        </p>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="type" class="mb-2">What are you writing?</label>
          <select class="form-select mb-2" id="type">
            <option value="blog post">Blog post</option>
            <option value="LinkedIn post">LinkedIn Post</option>
            <option value="Tweet">Tweet</option>
            <option value="email">Email</option>
            <option value="custom">Other (specify below)</option>
          </select>
          <div id="customInput" class="form-outline custom-input">
            <input type="text" id="custom-type" class="form-control" hidden/>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div data-bs-toggle="collapse" data-bs-target=".collapse">
          <p type="button">
            Optional controls <i class="bi bi-chevron-expand"></i>
          </p>
        </div>
        <div class="collapse mb-3">
          <label for="style" class="mb-2">Do you have a topic or title?</label>
          <input type="text" id="topic" class="form-control">
        </div>
        <div class="collapse mb-3">
          <label for="style" class="mb-2">Any particular writing style?</label>
          <input type="text" id="style" class="form-control">
        </div>
        <div class="collapse mb-3">
          <label for="style" class="mb-2">Who is your audience?</label>
          <input type="text" id="audience" class="form-control">
        </div>
        <div class="collapse mb-3">
          <label for="notes" class="mb-2">Any ideas/notes to consider?</label>
          <textarea id="notes" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div id="error" class="row mb-3 alert alert-danger" role="alert" hidden></div>
      <div id="editor" class="row mb-3 pt-2 pt-lg-3 pb-lg-2 px-lg-2 rounded-2">
        <div class="col">
          <div class="row mb-2 align-items-center">
            <div class="col">
              Now just start typing:
            </div>
            <div class="col text-end">
              <div id="start" type="button" class="link-secondary">
                <u>Or let the AI start</u>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="form-control input mb-3" contenteditable="true" id="content"></div>
        </div>
      </div>
      <footer class="footer mt-auto py-3" style="text-align: center;">
        <div class="row mb-3">
          <a href="https://www.producthunt.com/posts/ai-cowriter?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-ai&#0045;cowriter" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=374766&theme=light" alt="AI&#0032;Cowriter - Write&#0032;10x&#0032;faster&#0032;with&#0032;AI | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
        </div>
        <div class="row my-4">
          <hr/>
          <p class="text-muted">
            Find the code on <a href="https://github.com/kinosal/cowriter" target="_blank">GitHub</a> and the author on <a href="https://twitter.com/kinosal" target="_blank">Twitter</a>
          </p>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='google.js') }}"></script>
    <script src="{{ url_for('static', filename='inspectlet.js') }}"></script>
  </body>
</html>
